In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import geocoder
import datetime
import re
import os

In [3]:
train = pd.read_csv('data/train-parking.csv')
test = pd.read_csv('data/test-no-label-parking.csv')
sensor = pd.read_csv('data/ParkingSensorData.csv')

/Users/gongtingpeng/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
! ls data/

ParkingSensorData.csv     test-no-label-parking.csv
parkingrecords.csv        train-parking.csv

In [3]:
parking = pd.read_csv('data/parkingrecords.csv')

In [4]:
parking.head()

         lat         lon       datetime
0  37.771637 -122.437112  1471967637400
1  37.777229 -122.465370  1459821377952
2  37.771172 -122.437683  1461349554900
3  37.777328 -122.465012  1462252229600
4  37.778664 -122.464111  1463364111300

In [5]:
train.head()

,Street,From,To,Date,Time,Real.Spots,Street.Length,any_spot
0,Mission Street,25th Street,26th Street,1/7/2014,16:19,4,179.132970,1
1,Polk Street,Ellis Street,Olive Street,1/18/2014,20:42,0,52.740210,0
2,Van Ness Avenue,Geary Boulevard,Myrtle Street,1/18/2014,20:39,0,52.517840,0
3,Van Ness Avenue,Bush Street,Fern Street,1/18/2014,20:38,0,52.405315,0
4,Van Ness Avenue,Daniel Burnham Court,Post Street,1/18/2014,20:38,0,52.191193,0

In [6]:
train.dtypes

Street            object
From              object
To                object
Date              object
Time              object
Real.Spots         int64
Street.Length    float64
any_spot           int64
dtype: object

 ### Creating a new column from_to

In [9]:
print(sensor.columns)

Index(['BLOCK_ID', 'STREET_NAME', 'BLOCK_NUM', 'STREET_BLOCK', 'AREA_TYPE',
       'PM_DISTRICT_NAME', 'RATE', 'START_TIME_DT', 'TOTAL_TIME',
       'TOTAL_OCCUPIED_TIME', 'TOTAL_VACANT_TIME', 'TOTAL_UNKNOWN_TIME',
       'OP_TIME', 'OP_OCCUPIED_TIME', 'OP_VACANT_TIME', 'OP_UNKNOWN_TIME',
       'NONOP_TIME', 'NONOP_OCCUPIED_TIME', 'NONOP_VACANT_TIME',
       'NONOP_UNKNOWN_TIME', 'GMP_TIME', 'GMP_OCCUPIED_TIME',
       'GMP_VACANT_TIME', 'GMP_UNKNOWN_TIME', 'COMM_TIME',
       'COMM_OCCUPIED_TIME', 'COMM_VACANT_TIME', 'COMM_UNKNOWN_TIME',
       'CAL_MONTH_NAME', 'CAL_YEAR', 'CAL_DATE', 'DAY_TYPE', 'TIME_OF_DAY'],
      dtype='object')

In [4]:
train['from_to']= train["From"].map(str) + train["To"]
test['from_to']= test["From"].map(str) + test["To"]

In [5]:
sensor['occ_per_1']=sensor['TOTAL_OCCUPIED_TIME']/sensor['TOTAL_TIME']
sensor['vac_per_1']=sensor['TOTAL_VACANT_TIME']/sensor['TOTAL_TIME']
sensor['occ_per_2']=sensor['OP_OCCUPIED_TIME']/sensor['OP_TIME']
sensor['vac_per_2']=sensor['OP_VACANT_TIME']/sensor['OP_TIME']
sensor['occ_per_3']=sensor['NONOP_OCCUPIED_TIME']/sensor['NONOP_TIME']
sensor['vac_per_3']=sensor['NONOP_VACANT_TIME']/sensor['NONOP_TIME']
sensor['occ_per_4']=sensor['GMP_OCCUPIED_TIME']/sensor['GMP_TIME']
sensor['vac_per_4']=sensor['GMP_VACANT_TIME']/sensor['GMP_TIME']
sensor['occ_per_4']=sensor['COMM_OCCUPIED_TIME']/sensor['COMM_TIME']
sensor['vac_per_4']=sensor['COMM_VACANT_TIME']/sensor['COMM_TIME']

In [12]:
sensor.head()

,BLOCK_ID,STREET_NAME,BLOCK_NUM,STREET_BLOCK,AREA_TYPE,PM_DISTRICT_NAME,RATE,START_TIME_DT,TOTAL_TIME,TOTAL_OCCUPIED_TIME,...,DAY_TYPE,TIME_OF_DAY,occ_per_1,vac_per_1,occ_per_2,vac_per_2,occ_per_3,vac_per_3,occ_per_4,vac_per_4
0,41522,FILLMORE ST,22.0,FILLMORE ST 2200,Pilot,Fillmore,NaN,01-jul-2012 21:00:00,61200.0,35847.0,...,weekend,2100.0,0.585735,0.414265,NaN,NaN,0.585735,0.414265,NaN,NaN
1,41524,FILLMORE ST,24.0,FILLMORE ST 2400,Pilot,Fillmore,NaN,01-jul-2012 22:00:00,64800.0,27576.0,...,weekend,2200.0,0.425556,0.574444,NaN,NaN,0.425556,0.574444,NaN,NaN
2,50001,JACKSON ST,1.0,JACKSON ST 100,Pilot,Downtown,NaN,01-jul-2012 02:00:00,79200.0,39985.0,...,weekend,200.0,0.504861,0.495139,NaN,NaN,0.504861,0.495139,NaN,NaN
3,50002,JACKSON ST,2.0,JACKSON ST 200,Pilot,Downtown,NaN,01-jul-2012 08:00:00,82800.0,30465.0,...,weekend,800.0,0.367935,0.632065,NaN,NaN,0.367935,0.632065,NaN,NaN
4,10903,09TH AVE,3.0,09TH AVE 300,Control,Inner Richmond,NaN,01-jul-2012 08:00:00,93600.0,85690.0,...,weekend,800.0,0.915491,0.084509,NaN,NaN,0.915491,0.084509,NaN,NaN

In [ ]:
sensor.DAY_TYPE.values[:5]

In [6]:
st_grp = sensor.groupby('STREET_NAME')[['occ_per_1','vac_per_1','occ_per_2','vac_per_2','occ_per_3','vac_per_3','occ_per_4','vac_per_4']].mean().reset_index()
st_grp['STREET_NAME'] = st_grp['STREET_NAME'].str.replace('ST','Street')
st_grp['STREET_NAME'] =st_grp['STREET_NAME'].str.replace('AVE','AVENUE')
st_grp['STREET_NAME'] = st_grp['STREET_NAME'].str.upper()
st_grp['STREET_NAME'] = st_grp['STREET_NAME'].str.upper()

st_grp['STREET_NAME'].replace('POSTREET STREET', 'POST STREET', inplace=True)

st_grp['STREET_NAME'].replace('LEAVENUENWORTH STREET', 'LEAVENWORTH STREET', inplace=True)

st_grp['STREET_NAME'].replace('GEARY BLVD', 'GEARY STREET', inplace=True)
st_grp['STREET_NAME'].replace('STREETOCKTON STREET', 'STOCKTON STREET', inplace=True)

In [19]:
st_grp

,STREET_NAME,occ_per_1,vac_per_1,occ_per_2,vac_per_2,occ_per_3,vac_per_3,occ_per_4,vac_per_4
0,01STREET STREET,0.437980,0.439571,0.468804,0.458676,0.381585,0.456433,0.384237,0.543726
1,02ND AVENUE,0.600284,0.192484,0.526669,0.254133,0.636568,0.162098,NaN,NaN
2,02ND STREET,0.472260,0.428342,0.549768,0.339765,0.416675,0.500579,0.373081,0.484978
3,03RD AVENUE,0.576179,0.241466,0.527117,0.281997,0.590390,0.239373,0.200454,0.525773
4,03RD STREET,0.326995,0.575403,0.404161,0.555789,0.260994,0.567858,0.212394,0.762988
5,04TH AVENUE,0.609659,0.268499,0.613019,0.265580,0.585630,0.288303,NaN,NaN
6,04TH STREET,0.429355,0.570307,0.418397,0.581273,0.415657,0.584041,0.286499,0.713312
7,05TH STREET,0.342673,0.656471,0.443997,0.554881,0.301950,0.697558,NaN,NaN
8,07TH AVENUE,0.675738,0.249076,0.714595,0.194470,0.679729,0.270773,NaN,NaN
9,09TH AVENUE,0.614956,0.254115,0.639623,0.225721,0.602798,0.268111,NaN,NaN
10,10TH AVENUE,0.635973,0.234066,0.606082,0.263319,0.648733,0.220466,0.290842,0.330651
11,14TH AVENUE,0.363743,0.529345,0.517392,0.358384,0.333757,0.582609,NaN,NaN
12,16TH STREET,0.574642,0.420588,0.612844,0.383109,0.541926,0.449639,0.478555,0.510294
13,17TH STREET,0.623310,0.339881,0.587602,0.377862,0.596628,0.371248,0.257955,0.732063
14,18TH STREET,0.559330,0.414939,0.544750,0.389505,0.564839,0.424947,0.379512,0.617804
15,19TH STREET,0.687098,0.251742,0.663991,0.268235,0.592534,0.358792,0.509336,0.362111
16,20TH STREET,0.650271,0.232984,0.681633,0.202109,0.634843,0.248172,NaN,NaN
17,21STREET STREET,0.595482,0.225714,0.616414,0.206496,0.572990,0.250491,0.373207,0.522769
18,22ND STREET,0.577561,0.256466,0.616666,0.215244,0.578456,0.261467,0.505179,0.401021
19,23RD STREET,0.527854,0.365831,0.524209,0.375580,0.513566,0.379629,0.499932,0.443498
20,AVILA STREET,0.705629,0.292886,0.802295,0.195865,0.659875,0.338823,NaN,NaN
21,BARTLETT STREET,0.501519,0.403398,0.563935,0.338245,0.470815,0.435447,0.435468,0.425817
22,BATTERY STREET,0.424822,0.472653,0.450458,0.446062,0.400751,0.499128,0.290729,0.596414
23,BAY STREET,0.362511,0.528982,0.423948,0.496181,0.307227,0.533641,0.249801,0.530679
24,BEACH STREET,0.508460,0.417840,0.609535,0.324131,0.436908,0.451897,0.334276,0.560106
25,BEALE STREET,0.390296,0.578783,0.467220,0.515186,0.303023,0.550797,0.364769,0.615123
26,BERRY STREET,0.724768,0.259747,0.681089,0.298003,0.715539,0.270156,0.475370,0.501293
27,BRANNAN STREET,0.399396,0.510555,0.435086,0.462723,0.346145,0.555283,0.244228,0.652455
28,BRYANT STREET,0.308106,0.614011,0.365878,0.542131,0.268025,0.668863,0.187513,0.732213
29,BUCHANAN STREET,0.626861,0.312336,0.730917,0.205241,0.575662,0.365346,0.293974,0.634189
...,...,...,...,...,...,...,...,...,...
87,OAK STREET,0.482273,0.405699,0.575234,0.313674,0.445449,0.396968,0.487011,0.453647
88,OCTAVIA STREET,0.737324,0.252093,0.750635,0.236239,0.735719,0.255786,NaN,NaN
89,PIERCE STREET,0.624503,0.339111,0.743142,0.221337,0.579499,0.374809,0.492233,0.489377
90,PINE STREET,0.384777,0.469562,0.470001,0.440239,0.341198,0.476960,0.401984,0.530462
91,PIXLEY STREET,0.757346,0.230849,0.756257,0.231238,0.757858,0.230666,NaN,NaN
92,POLK STREET,0.435176,0.473185,0.617462,0.349815,0.409021,0.481951,0.451786,0.548050
93,POST STREET,0.531128,0.380188,0.598720,0.311443,0.506667,0.389182,0.402700,0.426134
94,POWELL STREET,0.406585,0.407295,0.470772,0.343898,0.322292,0.493990,0.293887,0.448137
95,REDWOOD STREET,0.424267,0.561867,0.619193,0.374437,0.352570,0.629948,0.574121,0.412225
96,RITCH STREET,0.504707,0.439192,0.492225,0.447976,0.492537,0.455287,0.299593,0.683129
97,SACRAMENTO STREET,0.485735,0.483290,0.489018,0.505041,0.500528,0.457754,0.469800,0.524906
98,SANSOME STREET,0.309678,0.594880,0.371459,0.594992,0.289561,0.582049,0.360247,0.608138
99,SCOTT STREET,0.707931,0.262297,0.768394,0.204099,0.663482,0.291226,0.608521,0.376316
100,SOUTH PARK,0.521685,0.470453,0.616889,0.373782,0.467821,0.525147,NaN,NaN
101,SPEAR STREET,0.467990,0.478667,0.521323,0.424067,0.456953,0.496552,0.489550,0.429160
102,STREETEINER STREET,0.588550,0.333648,0.665334,0.257733,0.512147,0.403865,0.593258,0.350803
103,STREETEUART STREET,0.489182,0.376149,0.564673,0.269735,0.446226,0.448223,0.506331,0.434616
104,STREETEVENSON STREET,0.547538,0.250929,0.612757,0.177651,0.521295,0.286952,0.631027,0.160382
105,STOCKTON STREET,0.759830,0.239126,0.867197,0.131638,0.652784,0.346293,NaN,NaN
106,SUTTER STREET,0.511768,0.463924,0.604027,0.391313,0.470033,0.479468,0.541743,0.452145
107,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,0.313590,0.603223,0.317435,0.626517
108,TEHAMA STREET,0.627019,0.279394,0.603156,0.299008,0.642997,0.266262,0.373461,0.558621
109,TOWNSEND STREET,0.587955,0.385263,0.594794,0.375848,0.548200,0.419738,0.382805,0.576239
110,UNION STREET,0.571275,0.422457,0.637565,0.358656,0.529084,0.464844,0.403271,0.596729
111,VALENCIA STREET,0.600743,0.299604,0.600871,0.294057,0.575121,0.310853,0.362981,0.517445
112,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,0.357339,0.642018,0.387433,0.605285
113,VICENTE STREET,0.435471,0.466175,0.542422,0.353370,0.382756,0.521775,0.268732,0.653300
114,WASHINGTON STREET,0.591851,0.343989,0.650906,0.276739,0.557494,0.375422,0.348399,0.562177
115,WEBSTREETER STREET,0.605390,0.307939,0.681670,0.224010,0.576592,0.335757,0.444593,0.420550
116,WESTREET PORTAL AVENUE,0.531501,0.455914,0.683372,0.302482,0.505181,0.484017,0.372231,0.623127

In [7]:
st_grp_2 = sensor.groupby('STREET_NAME')['BLOCK_ID'].count().reset_index(name="count")
st_grp_2['STREET_NAME'] = st_grp_2['STREET_NAME'].str.replace('ST','Street')
st_grp_2['STREET_NAME'] =st_grp_2['STREET_NAME'].str.replace('AVE','AVENUE')
st_grp_2['STREET_NAME'] = st_grp_2['STREET_NAME'].str.upper()
st_grp_2['STREET_NAME'] = st_grp_2['STREET_NAME'].str.upper()

st_grp_2['STREET_NAME'].replace('POSTREET STREET', 'POST STREET', inplace=True)

st_grp_2['STREET_NAME'].replace('LEAVENUENWORTH STREET', 'LEAVENWORTH STREET', inplace=True)

st_grp_2['STREET_NAME'].replace('GEARY BLVD', 'GEARY STREET', inplace=True)
st_grp_2['STREET_NAME'].replace('STREETOCKTON STREET', 'STOCKTON STREET', inplace=True)

In [21]:
st_grp_2

                STREET_NAME   count
0           01STREET STREET   61416
1               02ND AVENUE   40944
2               02ND STREET  157248
3               03RD AVENUE   40944
4               03RD STREET  102360
5               04TH AVENUE   40944
6               04TH STREET   37791
7               05TH STREET   17319
8               07TH AVENUE   20472
9               09TH AVENUE   40944
10              10TH AVENUE   40944
11              14TH AVENUE   40944
12              16TH STREET   58066
13              17TH STREET   12730
14              18TH STREET   20472
15              19TH STREET    7752
16              20TH STREET   20472
17          21STREET STREET   20472
18              22ND STREET   20472
19              23RD STREET   20472
20             AVILA STREET   20472
21          BARTLETT STREET   20472
22           BATTERY STREET   81888
23               BAY STREET   51768
24             BEACH STREET  143304
25             BEALE STREET   20472
26             BERRY STREET   69276
27           BRANNAN STREET  102360
28            BRYANT STREET   81888
29          BUCHANAN STREET   61416
..                      ...     ...
87               OAK STREET   40944
88           OCTAVIA STREET   40944
89            PIERCE STREET   40944
90              PINE STREET  108754
91            PIXLEY STREET   34224
92              POLK STREET  102360
93              POST STREET   96401
94            POWELL STREET   40896
95           REDWOOD STREET   20472
96             RITCH STREET   17319
97        SACRAMENTO STREET  143304
98           SANSOME STREET  143304
99             SCOTT STREET   40944
100              SOUTH PARK   34638
101            SPEAR STREET   85120
102      STREETEINER STREET   40944
103      STREETEUART STREET   61416
104    STREETEVENSON STREET    9168
105         STOCKTON STREET   17402
106           SUTTER STREET   81888
107           TAYLOR STREET   53090
108           TEHAMA STREET   20472
109         TOWNSEND STREET   81888
110            UNION STREET  122832
111         VALENCIA STREET  184248
112         VAN NESS AVENUE  122815
113          VICENTE STREET   40944
114       WASHINGTON STREET  163776
115      WEBSTREETER STREET  122832
116  WESTREET PORTAL AVENUE   81888

[117 rows x 2 columns]

In [8]:
train['Street']  = train['Street'].str.upper()
train = pd.merge(train, st_grp, how = 'left',left_on = 'Street', right_on = 'STREET_NAME')
train = pd.merge(train, st_grp_2, how = 'left',left_on = 'Street', right_on = 'STREET_NAME')

In [24]:
train.head()

,Street,From,To,Date,Time,Real.Spots,Street.Length,any_spot,from_to,STREET_NAME_x,occ_per_1,vac_per_1,occ_per_2,vac_per_2,occ_per_3,vac_per_3,occ_per_4,vac_per_4,STREET_NAME_y,count
0,MISSION STREET,25th Street,26th Street,1/7/2014,16:19,4,179.132970,1,25th Street26th Street,MISSION STREET,0.551448,0.414499,0.673388,0.321598,0.499000,0.446826,0.469853,0.521475,MISSION STREET,123676
1,POLK STREET,Ellis Street,Olive Street,1/18/2014,20:42,0,52.740210,0,Ellis StreetOlive Street,POLK STREET,0.435176,0.473185,0.617462,0.349815,0.409021,0.481951,0.451786,0.548050,POLK STREET,102360
2,VAN NESS AVENUE,Geary Boulevard,Myrtle Street,1/18/2014,20:39,0,52.517840,0,Geary BoulevardMyrtle Street,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,0.357339,0.642018,0.387433,0.605285,VAN NESS AVENUE,122815
3,VAN NESS AVENUE,Bush Street,Fern Street,1/18/2014,20:38,0,52.405315,0,Bush StreetFern Street,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,0.357339,0.642018,0.387433,0.605285,VAN NESS AVENUE,122815
4,VAN NESS AVENUE,Daniel Burnham Court,Post Street,1/18/2014,20:38,0,52.191193,0,Daniel Burnham CourtPost Street,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,0.357339,0.642018,0.387433,0.605285,VAN NESS AVENUE,122815

In [9]:
test['Street']  = test['Street'].str.upper()
test = pd.merge(test, st_grp, how = 'left',left_on = 'Street', right_on = 'STREET_NAME')
test = pd.merge(test, st_grp_2, how = 'left',left_on = 'Street', right_on = 'STREET_NAME')

## Parse date

In [10]:
def add_datepart(df, fldname, drop=True):

    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    for n in ('Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    #df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [11]:
add_datepart(train,'Date',drop=True)
add_datepart(test,'Date',drop=True)

## Hour and Minute

In [12]:
def to_hr_min(df):
    df['Time'] = pd.to_datetime(df['Time'])
    df['hr'] = df['Time'].dt.hour
    df['min'] = df['Time'].dt.minute
    df.drop(['Time'], axis=1, inplace = True)
    return df

In [13]:
train = to_hr_min(train)
test = to_hr_min(test)

## Weekday Flag

In [14]:
train['isweekday']=  [0 if (x ==5 or x==6) else 1 for x in train['Dayofweek']]
test['isweekday']=  [0 if (x ==5 or x==6) else 1 for x in test['Dayofweek']]

## Mean Encoding

In [15]:
global_mean1 = train['any_spot'].mean()
global_mean2 = train['Real.Spots'].mean()

In [16]:
from_to_any = train.groupby('from_to').any_spot.mean()
from_to_real = train.groupby('from_to')['Real.Spots'].mean()

train["mean_from_to_any"] = train["from_to"].map(from_to_any)
test["mean_from_to_any"] = test["from_to"].map(from_to_any)
train["mean_from_to_any"].fillna(global_mean1, inplace=True)
test["mean_from_to_any"].fillna(global_mean1, inplace=True)


train["mean_from_to_real"] = train["from_to"].map(from_to_real)
test["mean_from_to_real"] = test["from_to"].map(from_to_real)
train["mean_from_to_real"].fillna(global_mean2, inplace=True)
test["mean_from_to_real"].fillna(global_mean2, inplace=True)

isweekday_any = train.groupby('isweekday').any_spot.mean()
isweekday_real = train.groupby('isweekday')['Real.Spots'].mean()

train["mean_isweekday_any"] = train["isweekday"].map(isweekday_any)
test["mean_isweekday_any"] = test["isweekday"].map(isweekday_any)
train["mean_isweekday_any"].fillna(global_mean1, inplace=True)
test["mean_isweekday_any"].fillna(global_mean1, inplace=True)


train["mean_isweekday_real"] = train["isweekday"].map(isweekday_real)
test["mean_isweekday_real"] = test["isweekday"].map(isweekday_real)
train["mean_isweekday_real"].fillna(global_mean2, inplace=True)
test["mean_isweekday_real"].fillna(global_mean2, inplace=True)



hr_any = train.groupby('hr').any_spot.mean()
hr_real = train.groupby('hr')['Real.Spots'].mean()

train["mean_hr_any"] = train["hr"].map(hr_any)
test["mean_hr_any"] = test["hr"].map(hr_any)
train["mean_hr_any"].fillna(global_mean1, inplace=True)
test["mean_hr_any"].fillna(global_mean1, inplace=True)


train["mean_hr_real"] = train["hr"].map(hr_real)
test["mean_hr_real"] = test["hr"].map(hr_real)
train["mean_hr_real"].fillna(global_mean2, inplace=True)
test["mean_hr_real"].fillna(global_mean2, inplace=True)


dow_any = train.groupby('Dayofweek').any_spot.mean()
dow_real = train.groupby('Dayofweek')['Real.Spots'].mean()

train["mean_dow_any"] = train["Dayofweek"].map(dow_any)
test["mean_dow_any"] = test["Dayofweek"].map(dow_any)
train["mean_dow_any"].fillna(global_mean1, inplace=True)
test["mean_dow_any"].fillna(global_mean1, inplace=True)


train["mean_dow_real"] = train["Dayofweek"].map(dow_real)
test["mean_dow_real"] = test["Dayofweek"].map(dow_real)
train["mean_dow_real"].fillna(global_mean2, inplace=True)
test["mean_dow_real"].fillna(global_mean2, inplace=True)



Month_any = train.groupby('Month').any_spot.mean()
Month_real = train.groupby('Month')['Real.Spots'].mean()

train["mean_month_any"] = train["Month"].map(Month_any)
test["mean_month_any"] = test["Month"].map(Month_any)
train["mean_month_any"].fillna(global_mean1, inplace=True)
test["mean_month_any"].fillna(global_mean1, inplace=True)


train["mean_month_real"] = train["Month"].map(Month_real)
test["mean_month_real"] = test["Month"].map(Month_real)
train["mean_month_real"].fillna(global_mean2, inplace=True)
test["mean_month_real"].fillna(global_mean2, inplace=True)

In [17]:
train_copy = train
test_copy = test

## Label Encoding

In [34]:
# train.drop(['STREET_NAME_x', 'STREET_NAME_y'], axis = 1, inplace = True)
# test.drop(['STREET_NAME_x', 'STREET_NAME_y'], axis = 1, inplace = True)

In [35]:
# category = ["Street", "From", "To","from_to"]

# le = LabelEncoder()
# for cat in category:
#     le.fit(train[cat])
#     train[cat] = le.transform(train[cat])
#     test[cat] = le.transform(test[cat])

In [36]:
train.columns

Index(['Street', 'From', 'To', 'Real.Spots', 'Street.Length', 'any_spot',
       'from_to', 'occ_per_1', 'vac_per_1', 'occ_per_2', 'vac_per_2',
       'occ_per_3', 'vac_per_3', 'occ_per_4', 'vac_per_4', 'count', 'Month',
       'Week', 'Day', 'Dayofweek', 'Dayofyear', 'hr', 'min', 'isweekday',
       'mean_from_to_any', 'mean_from_to_real', 'mean_isweekday_any',
       'mean_isweekday_real', 'mean_hr_any', 'mean_hr_real', 'mean_dow_any',
       'mean_dow_real', 'mean_month_any', 'mean_month_real'],
      dtype='object')

In [56]:
train.shape, test.shape

((1100, 36), (726, 34))

In [38]:
train.head()

,Street,From,To,Real.Spots,Street.Length,any_spot,from_to,occ_per_1,vac_per_1,occ_per_2,...,mean_from_to_any,mean_from_to_real,mean_isweekday_any,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real
0,15,1,1,4,179.132970,1,1,0.551448,0.414499,0.673388,...,0.600000,4.600000,0.321986,1.497872,0.428571,1.55102,0.329787,1.276596,0.502924,3.912281
1,18,16,42,0,52.740210,0,22,0.435176,0.473185,0.617462,...,0.100000,0.100000,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281
2,24,17,40,0,52.517840,0,23,0.353977,0.645017,0.447894,...,0.142857,0.142857,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281
3,24,8,21,0,52.405315,0,10,0.353977,0.645017,0.447894,...,0.285714,0.357143,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281
4,24,13,46,0,52.191193,0,17,0.353977,0.645017,0.447894,...,0.125000,0.312500,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281

## Save to feather

In [39]:
os.makedirs('tmp', exist_ok=True)
train.to_feather('tmp/train-raw')
test.to_feather('tmp/test-raw')

## Read from feather

In [33]:
#train = pd.read_feather('tmp/train-lat-long')
#test = pd.read_feather('tmp/test-lat-long')

## Lat Long data

In [34]:
import datetime
park =  pd.read_csv('data/train-parking.csv')

def getdate(x):
    m = re.search(r"(\d+)", str(x))
    return (datetime.datetime.utcfromtimestamp(int(m.group(1))/1000.0).strftime('%Y-%m-%d %H:%M:%S'))
park['datetime'] = park['datetime'].apply(getdate)

KeyError: 'datetime'

In [33]:
park.head()

,BLOCK_ID,STREET_NAME,BLOCK_NUM,STREET_BLOCK,AREA_TYPE,PM_DISTRICT_NAME,RATE,START_TIME_DT,TOTAL_TIME,TOTAL_OCCUPIED_TIME,...,GMP_UNKNOWN_TIME,COMM_TIME,COMM_OCCUPIED_TIME,COMM_VACANT_TIME,COMM_UNKNOWN_TIME,CAL_MONTH_NAME,CAL_YEAR,CAL_DATE,DAY_TYPE,TIME_OF_DAY
0,41522,FILLMORE ST,22.0,FILLMORE ST 2200,Pilot,Fillmore,NaN,01-jul-2012 21:00:00,61200.0,35847.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,2100.0
1,41524,FILLMORE ST,24.0,FILLMORE ST 2400,Pilot,Fillmore,NaN,01-jul-2012 22:00:00,64800.0,27576.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,2200.0
2,50001,JACKSON ST,1.0,JACKSON ST 100,Pilot,Downtown,NaN,01-jul-2012 02:00:00,79200.0,39985.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,200.0
3,50002,JACKSON ST,2.0,JACKSON ST 200,Pilot,Downtown,NaN,01-jul-2012 08:00:00,82800.0,30465.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,800.0
4,10903,09TH AVE,3.0,09TH AVE 300,Control,Inner Richmond,NaN,01-jul-2012 08:00:00,93600.0,85690.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,800.0

In [29]:
park.head()

         lat         lon             datetime
0  37.771637 -122.437112  2016-08-23 15:53:57
1  37.777229 -122.465370  2016-04-05 01:56:17
2  37.771172 -122.437683  2016-04-22 18:25:54
3  37.777328 -122.465012  2016-05-03 05:10:29
4  37.778664 -122.464111  2016-05-16 02:01:51

In [18]:
streets= {'Geary Street,Jones Street,Geary Street':'Geary Street,Jones Street,Leavenworth Street',
 'Jones Street,Sutter Street,Jones Street': 'Jones Street,Sutter Street,Post Street',
 'Kearny Street,Kearny Street,Columbus Avenue': 'Kearny Street,Jackson Street,Columbus Avenue',
 'Kearny Street,Kearny Street,Post Street': 'Kearny Street,Maidne Lane,Post Street',
 'Kearny Street,Kearny Street,Sutter Street': 'Kearny Street,Post Street,Sutter Street',
 'Larkin Street,Larkin Street,Golden Gate Avenue': 'Larkin Street,Fulton Street,Golden Gate Avenue',
 "Larkin Street,O'Farrell Street,Larkin Street": "Larkin Street,O'Farrell Street,Myrtle Street",
 'Larkin Street,Sutter Street,Larkin Street': 'Larkin Street,Sutter Street,Bush Street',
 'Mason Street,Sutter Street,Mason Street': 'Mason Street,Sutter Street,Bush Street',
 'Mission Street,11th Street,Mission Street': 'Mission Street,11th Street,12th Street',
 'Montgomery Street,Jackson Street,Montgomery Street': 'Montgomery Street,Jackson Street,Washington Street',
 'Montgomery Street,Montgomery Street,Jackson Street': 'Montgomery Street,Pacific Avenue,Jackson Street',
 'Montgomery Street,Washington Street,Montgomery Street': 'Montgomery Street,Washington Street,Clay Street',
 'Post Street,Kearny Street,Post Street': 'Post Street,Kearny Street,Montgomery Street',
 'Stockton Street,Stockton Street,Jackson Street': 'Stockton Street,Washington Street,Jackson Street',
 'Stockton Street,Stockton Tunnel,Stockton Street': 'Stockton Street,Stockton Tunnel,Clay Street',
 'Sutter Street,Powell Street,Sutter Street': 'Sutter Street,Powell Street,Mason Street',
 'Van Ness Avenue,Golden Gate Avenue,Van Ness Avenue': 'Van Ness Avenue,Golden Gate Avenue,Turk Street',
 'Van Ness Avenue,Hayes Street,Van Ness Avenue': 'Van Ness Avenue,Hayes Street,Grove Street',
 'Van Ness Avenue,McAllister Street,Van Ness Avenue': 'Van Ness Avenue,McAllister Street,Golden Gate Avenue',
 'Van Ness Avenue,Van Ness Avenue,Bush Street': 'Van Ness Avenue,Sutter Avenue,Bush Street',
 'Van Ness Avenue,Van Ness Avenue,Eddy Street': 'Van Ness Avenue,Turk Street,Eddy Street',
 'Van Ness Avenue,Van Ness Avenue,Fell Street': 'Van Ness Avenue,Oak Street,Fell Street',
 'Van Ness Avenue,Van Ness Avenue,Golden Gate Avenue': 'Van Ness Avenue,McAllister Street,Golden Gate Avenue',
 'Van Ness Avenue,Van Ness Avenue,Grove Street': 'Van Ness Avenue,Hayes Street,Grove Street',
 'Van Ness Avenue,Van Ness Avenue,Turk Street': 'Van Ness Avenue,Golden Gate Avenue,Turk Street'}

In [19]:
def street_from_to(df):
    for i in range(len(df)):
        for j in range(len(streets.keys())):            
            if df['combined'][i] == list(streets.keys())[j]:
                df['Street'][i], df['From'][i], df['To'][i] = streets[df['combined'][i]].split(',')            
    return df

In [59]:
train_copy.head()

,Street,From,To,Real.Spots,Street.Length,any_spot,from_to,STREET_NAME_x,occ_per_1,vac_per_1,...,mean_from_to_any,mean_from_to_real,mean_isweekday_any,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real
0,MISSION STREET,25th Street,26th Street,4,179.132970,1,25th Street26th Street,MISSION STREET,0.551448,0.414499,...,0.600000,4.600000,0.321986,1.497872,0.428571,1.55102,0.329787,1.276596,0.502924,3.912281
1,POLK STREET,Ellis Street,Olive Street,0,52.740210,0,Ellis StreetOlive Street,POLK STREET,0.435176,0.473185,...,0.100000,0.100000,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281
2,VAN NESS AVENUE,Geary Boulevard,Myrtle Street,0,52.517840,0,Geary BoulevardMyrtle Street,VAN NESS AVENUE,0.353977,0.645017,...,0.142857,0.142857,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281
3,VAN NESS AVENUE,Bush Street,Fern Street,0,52.405315,0,Bush StreetFern Street,VAN NESS AVENUE,0.353977,0.645017,...,0.285714,0.357143,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281
4,VAN NESS AVENUE,Daniel Burnham Court,Post Street,0,52.191193,0,Daniel Burnham CourtPost Street,VAN NESS AVENUE,0.353977,0.645017,...,0.125000,0.312500,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281

In [20]:
train_copy['combined'] = train_copy[['Street', 'From', 'To']].apply(lambda x: ','.join(x), axis = 1)

In [21]:
test_copy['combined'] = test_copy[['Street', 'From', 'To']].apply(lambda x: ','.join(x), axis = 1)

In [22]:
train_copy = street_from_to(train_copy)
test_copy = street_from_to(test_copy)

In [63]:
test_copy.head()

,Street,From,To,Street.Length,from_to,STREET_NAME_x,occ_per_1,vac_per_1,occ_per_2,vac_per_2,...,mean_from_to_real,mean_isweekday_any,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined
0,STOCKTON STREET,Stockton Tunnel,Stockton Street,35.786472,Stockton TunnelStockton Street,STOCKTON STREET,0.759830,0.239126,0.867197,0.131638,...,0.000000,0.321986,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"STOCKTON STREET,Stockton Tunnel,Stockton Street"
1,VAN NESS AVENUE,Hayes Street,Van Ness Avenue,63.787968,Hayes StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,2.052632,0.321986,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,Hayes Street,Van Ness Avenue"
2,VAN NESS AVENUE,McAllister Street,Van Ness Avenue,56.007236,McAllister StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,0.551724,0.321986,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,McAllister Street,Van Ness Avenue"
3,MISSION STREET,11th Street,Mission Street,139.651900,11th StreetMission Street,MISSION STREET,0.551448,0.414499,0.673388,0.321598,...,3.000000,0.321986,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"MISSION STREET,11th Street,Mission Street"
4,HYDE STREET,Golden Gate Avenue,McAllister Street,105.144110,Golden Gate AvenueMcAllister Street,HYDE STREET,0.506700,0.369059,0.688952,0.186181,...,2.700000,0.321986,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"HYDE STREET,Golden Gate Avenue,McAllister Street"

In [65]:
from googlemaps import Client

In [66]:
gmaps = Client(key='AIzaSyD8Jpw9ibPED4v1pwUygH4tP4IuYG4kiUw')

In [68]:
def lat_long(row):
    g = gmaps.geocode('{0} & {1}'.format(row.Street, row.From))[0]['geometry']['location']
    return g
train_copy['lat_long_from'] = train_copy.apply(lat_long,axis=1)

In [69]:
def lat_long_to(row):
    g = gmaps.geocode('{0} & {1}'.format(row.Street, row.To))[0]['geometry']['location']
    return g
train_copy['lat_long_to'] = train_copy.apply(lat_long_to,axis=1)

In [70]:
train_copy.head()

,Street,From,To,Real.Spots,Street.Length,any_spot,from_to,STREET_NAME_x,occ_per_1,vac_per_1,...,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined,lat_long_from,lat_long_to
0,MISSION STREET,25th Street,26th Street,4,179.132970,1,25th Street26th Street,MISSION STREET,0.551448,0.414499,...,1.497872,0.428571,1.55102,0.329787,1.276596,0.502924,3.912281,"MISSION STREET,25th Street,26th Street","{'lat': 37.7506482, 'lng': -122.4183159}","{'lat': 37.749044, 'lng': -122.4181659}"
1,POLK STREET,Ellis Street,Olive Street,0,52.740210,0,Ellis StreetOlive Street,POLK STREET,0.435176,0.473185,...,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"POLK STREET,Ellis Street,Olive Street","{'lat': 37.7840397, 'lng': -122.4193807}","{'lat': 37.784507, 'lng': -122.4194781}"
2,VAN NESS AVENUE,Geary Boulevard,Myrtle Street,0,52.517840,0,Geary BoulevardMyrtle Street,VAN NESS AVENUE,0.353977,0.645017,...,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"VAN NESS AVENUE,Geary Boulevard,Myrtle Street","{'lat': 37.7856601, 'lng': -122.4214764}","{'lat': 37.7852409, 'lng': -122.421234}"
3,VAN NESS AVENUE,Bush Street,Fern Street,0,52.405315,0,Bush StreetFern Street,VAN NESS AVENUE,0.353977,0.645017,...,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"VAN NESS AVENUE,Bush Street,Fern Street","{'lat': 37.7884986, 'lng': -122.4218922}","{'lat': 37.7880441, 'lng': -122.4218018}"
4,VAN NESS AVENUE,Daniel Burnham Court,Post Street,0,52.191193,0,Daniel Burnham CourtPost Street,VAN NESS AVENUE,0.353977,0.645017,...,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"VAN NESS AVENUE,Daniel Burnham Court,Post Street","{'lat': 37.7870844, 'lng': -122.4217571}","{'lat': 37.7866423, 'lng': -122.4215171}"

In [ ]:
test_copy['lat_long_from'] = test_copy.apply(lat_long,axis=1)
test_copy['lat_long_to'] = test_copy.apply(lat_long_to,axis=1)

In [23]:
test_copy.head()

,Street,From,To,Street.Length,from_to,STREET_NAME_x,occ_per_1,vac_per_1,occ_per_2,vac_per_2,...,mean_from_to_real,mean_isweekday_any,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined
0,STOCKTON STREET,Stockton Tunnel,Stockton Street,35.786472,Stockton TunnelStockton Street,STOCKTON STREET,0.759830,0.239126,0.867197,0.131638,...,0.000000,0.321986,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"STOCKTON STREET,Stockton Tunnel,Stockton Street"
1,VAN NESS AVENUE,Hayes Street,Van Ness Avenue,63.787968,Hayes StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,2.052632,0.321986,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,Hayes Street,Van Ness Avenue"
2,VAN NESS AVENUE,McAllister Street,Van Ness Avenue,56.007236,McAllister StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,0.551724,0.321986,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,McAllister Street,Van Ness Avenue"
3,MISSION STREET,11th Street,Mission Street,139.651900,11th StreetMission Street,MISSION STREET,0.551448,0.414499,0.673388,0.321598,...,3.000000,0.321986,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"MISSION STREET,11th Street,Mission Street"
4,HYDE STREET,Golden Gate Avenue,McAllister Street,105.144110,Golden Gate AvenueMcAllister Street,HYDE STREET,0.506700,0.369059,0.688952,0.186181,...,2.700000,0.321986,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"HYDE STREET,Golden Gate Avenue,McAllister Street"

## To Feather

In [75]:
def format_lat_long(x):     
    return ','.join([str(key)+':'+str(x[key]) for key in x])
train_copy['lat_long_from'] = train_copy['lat_long_from'].apply(format_lat_long)
train_copy['lat_long_to'] = train_copy['lat_long_to'].apply(format_lat_long)
# test_copy['lat_long_from'] = test_copy['lat_long_from'].apply(format_lat_long)
# test_copy['lat_long_to'] = test_copy['lat_long_to'].apply(format_lat_long)

In [77]:
os.makedirs('tmp', exist_ok=True)
train_copy.to_feather('tmp/train-lat-long')
test_copy.to_feather('tmp/test1')

# Following because exceed google api limit

In [24]:
test1 = pd.read_feather('tmp/test-lat-long')

In [25]:
test1.head()

,Street,From,To,Street.Length,from_to,occ_per,vac_per,count,Month,Week,...,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined,lat_long_from,lat_long_to
0,21,48,48,35.786472,68,0.759830,0.239126,17402,3,13,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"Stockton Street,Stockton Tunnel,Stockton Street","lat:37.7927714,lng:-122.4076486","lat:37.7940644,lng:-122.4079215"
1,24,24,55,63.787968,31,0.353977,0.645017,122815,3,13,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"Van Ness Avenue,Hayes Street,Van Ness Avenue","lat:37.7773125,lng:-122.4196331","lat:37.7917022,lng:-122.4226899"
2,24,34,55,56.007236,48,0.353977,0.645017,122815,3,13,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"Van Ness Avenue,McAllister Street,Van Ness Avenue","lat:37.7800953,lng:-122.4201902","lat:37.7810463,lng:-122.4203923"
3,15,0,38,139.651900,0,0.551448,0.414499,123676,3,13,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"Mission Street,11th Street,Mission Street","lat:37.7743325,lng:-122.4171372","lat:37.7730672,lng:-122.4187201"
4,7,19,35,105.144110,25,0.506700,0.369059,20472,3,13,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"Hyde Street,Golden Gate Avenue,McAllister Street","lat:37.7816678,lng:-122.4155242","lat:37.7807062,lng:-122.4153337"

In [26]:
test_final = pd.concat([test_copy, test1[['lat_long_from', 'lat_long_to']]], axis = 1)

In [30]:
train.head()

,Street,From,To,Real.Spots,Street.Length,any_spot,from_to,STREET_NAME_x,occ_per_1,vac_per_1,...,mean_from_to_real,mean_isweekday_any,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined
0,MISSION STREET,25th Street,26th Street,4,179.132970,1,25th Street26th Street,MISSION STREET,0.551448,0.414499,...,4.600000,0.321986,1.497872,0.428571,1.55102,0.329787,1.276596,0.502924,3.912281,"MISSION STREET,25th Street,26th Street"
1,POLK STREET,Ellis Street,Olive Street,0,52.740210,0,Ellis StreetOlive Street,POLK STREET,0.435176,0.473185,...,0.100000,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"POLK STREET,Ellis Street,Olive Street"
2,VAN NESS AVENUE,Geary Boulevard,Myrtle Street,0,52.517840,0,Geary BoulevardMyrtle Street,VAN NESS AVENUE,0.353977,0.645017,...,0.142857,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"VAN NESS AVENUE,Geary Boulevard,Myrtle Street"
3,VAN NESS AVENUE,Bush Street,Fern Street,0,52.405315,0,Bush StreetFern Street,VAN NESS AVENUE,0.353977,0.645017,...,0.357143,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"VAN NESS AVENUE,Bush Street,Fern Street"
4,VAN NESS AVENUE,Daniel Burnham Court,Post Street,0,52.191193,0,Daniel Burnham CourtPost Street,VAN NESS AVENUE,0.353977,0.645017,...,0.312500,0.440506,2.134177,0.236559,1.00000,0.415493,2.102113,0.502924,3.912281,"VAN NESS AVENUE,Daniel Burnham Court,Post Street"

In [27]:
test_final.head()

,Street,From,To,Street.Length,from_to,STREET_NAME_x,occ_per_1,vac_per_1,occ_per_2,vac_per_2,...,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined,lat_long_from,lat_long_to
0,STOCKTON STREET,Stockton Tunnel,Stockton Street,35.786472,Stockton TunnelStockton Street,STOCKTON STREET,0.759830,0.239126,0.867197,0.131638,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"STOCKTON STREET,Stockton Tunnel,Stockton Street","lat:37.7927714,lng:-122.4076486","lat:37.7940644,lng:-122.4079215"
1,VAN NESS AVENUE,Hayes Street,Van Ness Avenue,63.787968,Hayes StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,Hayes Street,Van Ness Avenue","lat:37.7773125,lng:-122.4196331","lat:37.7917022,lng:-122.4226899"
2,VAN NESS AVENUE,McAllister Street,Van Ness Avenue,56.007236,McAllister StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,McAllister Street,Van Ness Avenue","lat:37.7800953,lng:-122.4201902","lat:37.7810463,lng:-122.4203923"
3,MISSION STREET,11th Street,Mission Street,139.651900,11th StreetMission Street,MISSION STREET,0.551448,0.414499,0.673388,0.321598,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"MISSION STREET,11th Street,Mission Street","lat:37.7743325,lng:-122.4171372","lat:37.7730672,lng:-122.4187201"
4,HYDE STREET,Golden Gate Avenue,McAllister Street,105.144110,Golden Gate AvenueMcAllister Street,HYDE STREET,0.506700,0.369059,0.688952,0.186181,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"HYDE STREET,Golden Gate Avenue,McAllister Street","lat:37.7816678,lng:-122.4155242","lat:37.7807062,lng:-122.4153337"

In [28]:
test_final.to_feather('tmp/test-lat-long')

In [29]:
test_final

,Street,From,To,Street.Length,from_to,STREET_NAME_x,occ_per_1,vac_per_1,occ_per_2,vac_per_2,...,mean_isweekday_real,mean_hr_any,mean_hr_real,mean_dow_any,mean_dow_real,mean_month_any,mean_month_real,combined,lat_long_from,lat_long_to
0,STOCKTON STREET,Stockton Tunnel,Stockton Street,35.786472,Stockton TunnelStockton Street,STOCKTON STREET,0.759830,0.239126,0.867197,0.131638,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"STOCKTON STREET,Stockton Tunnel,Stockton Street","lat:37.7927714,lng:-122.4076486","lat:37.7940644,lng:-122.4079215"
1,VAN NESS AVENUE,Hayes Street,Van Ness Avenue,63.787968,Hayes StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,Hayes Street,Van Ness Avenue","lat:37.7773125,lng:-122.4196331","lat:37.7917022,lng:-122.4226899"
2,VAN NESS AVENUE,McAllister Street,Van Ness Avenue,56.007236,McAllister StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"VAN NESS AVENUE,McAllister Street,Van Ness Avenue","lat:37.7800953,lng:-122.4201902","lat:37.7810463,lng:-122.4203923"
3,MISSION STREET,11th Street,Mission Street,139.651900,11th StreetMission Street,MISSION STREET,0.551448,0.414499,0.673388,0.321598,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"MISSION STREET,11th Street,Mission Street","lat:37.7743325,lng:-122.4171372","lat:37.7730672,lng:-122.4187201"
4,HYDE STREET,Golden Gate Avenue,McAllister Street,105.144110,Golden Gate AvenueMcAllister Street,HYDE STREET,0.506700,0.369059,0.688952,0.186181,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"HYDE STREET,Golden Gate Avenue,McAllister Street","lat:37.7816678,lng:-122.4155242","lat:37.7807062,lng:-122.4153337"
5,POLK STREET,Willow Street,Eddy Street,52.743200,Willow StreetEddy Street,POLK STREET,0.435176,0.473185,0.617462,0.349815,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"POLK STREET,Willow Street,Eddy Street","lat:37.7835829,lng:-122.4192937","lat:37.7831079,lng:-122.419195"
6,POLK STREET,Willow Street,Eddy Street,52.743200,Willow StreetEddy Street,POLK STREET,0.435176,0.473185,0.617462,0.349815,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"POLK STREET,Willow Street,Eddy Street","lat:37.7835829,lng:-122.4192937","lat:37.7831079,lng:-122.419195"
7,POLK STREET,Willow Street,Eddy Street,52.743200,Willow StreetEddy Street,POLK STREET,0.435176,0.473185,0.617462,0.349815,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"POLK STREET,Willow Street,Eddy Street","lat:37.7835829,lng:-122.4192937","lat:37.7831079,lng:-122.419195"
8,GROVE STREET,Dr Carlton P Goodlett Place,Larkin Street,145.297040,Dr Carlton P Goodlett PlaceLarkin Street,GROVE STREET,0.368480,0.591931,0.447583,0.509754,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"GROVE STREET,Dr Carlton P Goodlett Place,Larki...","lat:37.7784944,lng:-122.4182568","lat:37.778684,lng:-122.4166426"
9,GROVE STREET,Dr Carlton P Goodlett Place,Larkin Street,145.297040,Dr Carlton P Goodlett PlaceLarkin Street,GROVE STREET,0.368480,0.591931,0.447583,0.509754,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"GROVE STREET,Dr Carlton P Goodlett Place,Larki...","lat:37.7784944,lng:-122.4182568","lat:37.778684,lng:-122.4166426"
10,TAYLOR STREET,Turk Street,Eddy Street,104.853100,Turk StreetEddy Street,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"TAYLOR STREET,Turk Street,Eddy Street","lat:37.7832142,lng:-122.4107842","lat:37.7841597,lng:-122.4109775"
11,TAYLOR STREET,Turk Street,Eddy Street,104.853100,Turk StreetEddy Street,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"TAYLOR STREET,Turk Street,Eddy Street","lat:37.7832142,lng:-122.4107842","lat:37.7841597,lng:-122.4109775"
12,TAYLOR STREET,O'Farrell Street,Geary Street,104.987540,O'Farrell StreetGeary Street,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"TAYLOR STREET,O'Farrell Street,Geary Street","lat:37.7860127,lng:-122.4113644","lat:37.78694650000001,lng:-122.4115479"
13,TAYLOR STREET,O'Farrell Street,Geary Street,104.987540,O'Farrell StreetGeary Street,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,...,1.497872,0.333333,1.292929,0.292576,0.812227,0.321117,1.235602,"TAYLOR STREET,O'Farrell Street,Geary Street","lat:37.7860127,lng:-122.4113644","lat:37.78694650000001,lng:-122.4115479"
14,MONTGOMERY STREET,Washington Street,Montgomery Street,39.439125,Washington StreetMontgomery Street,MONTGOMERY STREET,0.320056,0.489265,0.383236,0.567683,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"MONTGOMERY STREET,Washington Street,Montgomery...","lat:37.7955356,lng:-122.4033268","lat:37.7946786,lng:-122.4031771"
15,LARKIN STREET,McAllister Street,Fulton Street,102.831450,McAllister StreetFulton Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"LARKIN STREET,McAllister Street,Fulton Street","lat:37.78049559999999,lng:-122.4170084","lat:37.779594,lng:-122.4168277"
16,LARKIN STREET,McAllister Street,Fulton Street,102.831450,McAllister StreetFulton Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.321117,1.235602,"LARKIN STREET,McAllister Street,Fulton Street","lat:37.78049559999999,lng:-122.4170084","lat:37.779594,lng:-122.4168277"
17,LARKIN STREET,McAllister Street,Fulton Street,102.831450,McAllister StreetFulton Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"LARKIN STREET,McAllister Street,Fulton Street","lat:37.78049559999999,lng:-122.4170084","lat:37.779594,lng:-122.4168277"
18,MASON STREET,Sutter Street,Mason Street,53.208504,Sutter StreetMason Street,MASON STREET,0.528885,0.394163,0.570967,0.341409,...,1.497872,0.475410,5.967213,0.292576,0.812227,0.321117,1.235602,"MASON STREET,Sutter Street,Mason Street","lat:37.7890236,lng:-122.4102744","lat:37.7899599,lng:-122.4104554"
19,MASON STREET,Sutter Street,Mason Street,53.208504,Sutter StreetMason Street,MASON STREET,0.528885,0.394163,0.570967,0.341409,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"MASON STREET,Sutter Street,Mason Street","lat:37.7890236,lng:-122.4102744","lat:37.7899599,lng:-122.4104554"
20,SUTTER STREET,Mason Street,Taylor Street,146.409620,Mason StreetTaylor Street,SUTTER STREET,0.511768,0.463924,0.604027,0.391313,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"SUTTER STREET,Mason Street,Taylor Street","lat:37.7890236,lng:-122.4102744","lat:37.78880950000001,lng:-122.4119083"
21,WASHINGTON STREET,Hotaling Street,Columbus Avenue,51.843370,Hotaling StreetColumbus Avenue,WASHINGTON STREET,0.591851,0.343989,0.650906,0.276739,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"WASHINGTON STREET,Hotaling Street,Columbus Avenue","lat:37.7956019,lng:-122.4027573","lat:42.3159234,lng:-71.0981932"
22,BATTERY STREET,Halleck Street,California Street,54.143090,Halleck StreetCalifornia Street,BATTERY STREET,0.424822,0.472653,0.450458,0.446062,...,1.497872,0.428571,1.551020,0.292576,0.812227,0.321117,1.235602,"BATTERY STREET,Halleck Street,California Street","lat:37.7937021,lng:-122.4000847","lat:37.7932237,lng:-122.3999893"
23,LARKIN STREET,Turk Street,Eddy Street,104.799670,Turk StreetEddy Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"LARKIN STREET,Turk Street,Eddy Street","lat:37.7823865,lng:-122.417359","lat:37.7833197,lng:-122.4175497"
24,LARKIN STREET,Turk Street,Eddy Street,104.799670,Turk StreetEddy Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"LARKIN STREET,Turk Street,Eddy Street","lat:37.7823865,lng:-122.417359","lat:37.7833197,lng:-122.4175497"
25,BUSH STREET,Taylor Street,Mason Street,146.525740,Taylor StreetMason Street,BUSH STREET,0.278786,0.562833,0.356085,0.632981,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.321117,1.235602,"BUSH STREET,Taylor Street,Mason Street","lat:37.7897577,lng:-122.412102","lat:37.7899599,lng:-122.4104554"
26,JONES STREET,Bush Street,Sutter Street,105.073950,Bush StreetSutter Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"JONES STREET,Bush Street,Sutter Street","lat:37.7895396,lng:-122.4137511","lat:37.7886086,lng:-122.4135648"
27,JONES STREET,Bush Street,Sutter Street,105.073950,Bush StreetSutter Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.400000,0.400000,0.292576,0.812227,0.321117,1.235602,"JONES STREET,Bush Street,Sutter Street","lat:37.7895396,lng:-122.4137511","lat:37.7886086,lng:-122.4135648"
28,JONES STREET,Sutter Street,Jones Street,72.917170,Sutter StreetJones Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.321117,1.235602,"JONES STREET,Sutter Street,Jones Street","lat:37.7886086,lng:-122.4135648","lat:37.78768170000001,lng:-122.4133747"
29,JONES STREET,Sutter Street,Jones Street,72.917170,Sutter StreetJones Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.400000,0.400000,0.292576,0.812227,0.321117,1.235602,"JONES STREET,Sutter Street,Jones Street","lat:37.7886086,lng:-122.4135648","lat:37.78768170000001,lng:-122.4133747"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,SUTTER STREET,Powell Street,Sutter Street,103.210660,Powell StreetSutter Street,SUTTER STREET,0.511768,0.463924,0.604027,0.391313,...,1.497872,0.333333,1.292929,0.292576,0.812227,0.364545,1.726364,"SUTTER STREET,Powell Street,Sutter Street","lat:37.7892337,lng:-122.4086166","lat:37.7890236,lng:-122.4102744"
697,POLK STREET,Grove Street,Dr Tom Waddell Place,58.041042,Grove StreetDr Tom Waddell Place,POLK STREET,0.435176,0.473185,0.617462,0.349815,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"POLK STREET,Grove Street,Dr Tom Waddell Place","lat:37.7914361,lng:-122.4208795","lat:37.7779906,lng:-122.4181585"
698,VAN NESS AVENUE,Van Ness Avenue,Fell Street,40.671550,Van Ness AvenueFell Street,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,Van Ness Avenue,Fell Street","lat:42.2001813,lng:-122.7126834","lat:37.7763836,lng:-122.4194447"
699,VAN NESS AVENUE,Golden Gate Avenue,Van Ness Avenue,63.262000,Golden Gate AvenueVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,Golden Gate Avenue,Van Ness Av...","lat:37.7810463,lng:-122.4203923","lat:37.7819764,lng:-122.4205794"
700,VAN NESS AVENUE,Van Ness Avenue,Golden Gate Avenue,44.815670,Van Ness AvenueGolden Gate Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,Van Ness Avenue,Golden Gate Av...","lat:37.7800953,lng:-122.4201902","lat:37.7810463,lng:-122.4203923"
701,VAN NESS AVENUE,Van Ness Avenue,Bush Street,39.027992,Van Ness AvenueBush Street,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,Van Ness Avenue,Bush Street","lat:37.7875726,lng:-122.421707","lat:37.7884986,lng:-122.4218922"
702,LARKIN STREET,Sutter Street,Larkin Street,48.555763,Sutter StreetLarkin Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"LARKIN STREET,Sutter Street,Larkin Street","lat:37.7879799,lng:-122.4184982","lat:37.788913,lng:-122.4186869"
703,LARKIN STREET,Sutter Street,Larkin Street,48.555763,Sutter StreetLarkin Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"LARKIN STREET,Sutter Street,Larkin Street","lat:37.7879799,lng:-122.4184982","lat:37.788913,lng:-122.4186869"
704,LEAVENWORTH STREET,Turk Street,Eddy Street,104.829810,Turk StreetEddy Street,LEAVENWORTH STREET,0.427939,0.444357,0.488741,0.382045,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"LEAVENWORTH STREET,Turk Street,Eddy Street","lat:37.7827943,lng:-122.4140676","lat:37.7837352,lng:-122.4142647"
705,VAN NESS AVENUE,Hayes Street,Van Ness Avenue,63.787968,Hayes StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,Hayes Street,Van Ness Avenue","lat:37.7773125,lng:-122.4196331","lat:37.7917022,lng:-122.4226899"
706,VAN NESS AVENUE,McAllister Street,Van Ness Avenue,56.007236,McAllister StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.333333,1.292929,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,McAllister Street,Van Ness Avenue","lat:37.7800953,lng:-122.4201902","lat:37.7810463,lng:-122.4203923"
707,VAN NESS AVENUE,McAllister Street,Van Ness Avenue,56.007236,McAllister StreetVan Ness Avenue,VAN NESS AVENUE,0.353977,0.645017,0.447894,0.550980,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"VAN NESS AVENUE,McAllister Street,Van Ness Avenue","lat:37.7800953,lng:-122.4201902","lat:37.7810463,lng:-122.4203923"
708,MISSION STREET,11th Street,Mission Street,139.651900,11th StreetMission Street,MISSION STREET,0.551448,0.414499,0.673388,0.321598,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"MISSION STREET,11th Street,Mission Street","lat:37.7743325,lng:-122.4171372","lat:37.7730672,lng:-122.4187201"
709,HYDE STREET,Golden Gate Avenue,McAllister Street,105.144110,Golden Gate AvenueMcAllister Street,HYDE STREET,0.506700,0.369059,0.688952,0.186181,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"HYDE STREET,Golden Gate Avenue,McAllister Street","lat:37.7816678,lng:-122.4155242","lat:37.7807062,lng:-122.4153337"
710,POLK STREET,Willow Street,Eddy Street,52.743200,Willow StreetEddy Street,POLK STREET,0.435176,0.473185,0.617462,0.349815,...,1.497872,0.290323,1.118280,0.292576,0.812227,0.364545,1.726364,"POLK STREET,Willow Street,Eddy Street","lat:37.7835829,lng:-122.4192937","lat:37.7831079,lng:-122.419195"
711,POLK STREET,Willow Street,Eddy Street,52.743200,Willow StreetEddy Street,POLK STREET,0.435176,0.473185,0.617462,0.349815,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"POLK STREET,Willow Street,Eddy Street","lat:37.7835829,lng:-122.4192937","lat:37.7831079,lng:-122.419195"
712,GROVE STREET,Dr Carlton P Goodlett Place,Larkin Street,145.297040,Dr Carlton P Goodlett PlaceLarkin Street,GROVE STREET,0.368480,0.591931,0.447583,0.509754,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"GROVE STREET,Dr Carlton P Goodlett Place,Larki...","lat:37.7784944,lng:-122.4182568","lat:37.778684,lng:-122.4166426"
713,TAYLOR STREET,Turk Street,Eddy Street,104.853100,Turk StreetEddy Street,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"TAYLOR STREET,Turk Street,Eddy Street","lat:37.7832142,lng:-122.4107842","lat:37.7841597,lng:-122.4109775"
714,TAYLOR STREET,O'Farrell Street,Geary Street,104.987540,O'Farrell StreetGeary Street,TAYLOR STREET,0.388365,0.525359,0.526451,0.389201,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"TAYLOR STREET,O'Farrell Street,Geary Street","lat:37.7860127,lng:-122.4113644","lat:37.78694650000001,lng:-122.4115479"
715,LARKIN STREET,McAllister Street,Fulton Street,102.831450,McAllister StreetFulton Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"LARKIN STREET,McAllister Street,Fulton Street","lat:37.78049559999999,lng:-122.4170084","lat:37.779594,lng:-122.4168277"
716,MASON STREET,Sutter Street,Mason Street,53.208504,Sutter StreetMason Street,MASON STREET,0.528885,0.394163,0.570967,0.341409,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.364545,1.726364,"MASON STREET,Sutter Street,Mason Street","lat:37.7890236,lng:-122.4102744","lat:37.7899599,lng:-122.4104554"
717,SUTTER STREET,Mason Street,Taylor Street,146.409620,Mason StreetTaylor Street,SUTTER STREET,0.511768,0.463924,0.604027,0.391313,...,1.497872,0.333333,1.292929,0.292576,0.812227,0.364545,1.726364,"SUTTER STREET,Mason Street,Taylor Street","lat:37.7890236,lng:-122.4102744","lat:37.78880950000001,lng:-122.4119083"
718,LARKIN STREET,Turk Street,Eddy Street,104.799670,Turk StreetEddy Street,LARKIN STREET,0.388997,0.454687,0.474042,0.369394,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"LARKIN STREET,Turk Street,Eddy Street","lat:37.7823865,lng:-122.417359","lat:37.7833197,lng:-122.4175497"
719,BUSH STREET,Taylor Street,Mason Street,146.525740,Taylor StreetMason Street,BUSH STREET,0.278786,0.562833,0.356085,0.632981,...,1.497872,0.333333,1.292929,0.292576,0.812227,0.364545,1.726364,"BUSH STREET,Taylor Street,Mason Street","lat:37.7897577,lng:-122.412102","lat:37.7899599,lng:-122.4104554"
720,BUSH STREET,Taylor Street,Mason Street,146.525740,Taylor StreetMason Street,BUSH STREET,0.278786,0.562833,0.356085,0.632981,...,1.497872,0.285714,0.659341,0.292576,0.812227,0.364545,1.726364,"BUSH STREET,Taylor Street,Mason Street","lat:37.7897577,lng:-122.412102","lat:37.7899599,lng:-122.4104554"
721,JONES STREET,Bush Street,Sutter Street,105.073950,Bush StreetSutter Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"JONES STREET,Bush Street,Sutter Street","lat:37.7895396,lng:-122.4137511","lat:37.7886086,lng:-122.4135648"
722,JONES STREET,Sutter Street,Jones Street,72.917170,Sutter StreetJones Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"JONES STREET,Sutter Street,Jones Street","lat:37.7886086,lng:-122.4135648","lat:37.78768170000001,lng:-122.4133747"
723,JONES STREET,Post Street,Colin Place,32.078580,Post StreetColin Place,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"JONES STREET,Post Street,Colin Place","lat:37.78768170000001,lng:-122.4133747","lat:37.7873942,lng:-122.4133176"
724,JONES STREET,Colin Place,Geary Street,72.545090,Colin PlaceGeary Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"JONES STREET,Colin Place,Geary Street","lat:37.7873942,lng:-122.4133176","lat:37.7867426,lng:-122.4131825"
725,JONES STREET,Antonio Street,Ellis Street,51.088688,Antonio StreetEllis Street,JONES STREET,0.609405,0.389222,0.687460,0.310852,...,1.497872,0.236559,1.000000,0.292576,0.812227,0.364545,1.726364,"JONES STREET,Antonio Street,Ellis Street","lat:37.7853194,lng:-122.4128958","lat:37.784875,lng:-122.4128063"